

<div class="container-fluid">
    <div class="row">
        <div *ngFor="let item of comicsList">
            <div class="card" [routerLink]="['/show-itens', item.id]" >
                <div class="thumb border">
                    <img src="{{item.thumbnail.path}}.{{item.thumbnail.extension}}" alt="imagem-comic" class="thumb-img">
                </div>
                <div class="card-info" title="{{item.title}}">
                    <p>{{item.title | slice:0:40}}</p>
                </div>
               
                <div class="card-footer">
                    <div class="row space-center">
                        <div class="visualizar">
                            <a [routerLink]="['/show-itens', item.id]">Detalhes</a> 
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
