
/* Estas são classes exclisivas de Css para o componete HOME */
.master{
    min-height: 100vh;
}

.bg-master {
   background: url('/assets/image/background-comics.jpg');
   background-size: cover;
   background-position: 50% 50%;
   background-clip: content-box;
   background-repeat: repeat-y;
//    filter: grayscale(1);
}

.opacity-master{
    width: 100%;
    min-height: 100vh;
    background: rgba(26, 26, 26, 0.897);
    margin: auto;
    
    
}

.board-comics{
    width: 85%;
    min-height: 100vh;
    background: rgba(255, 255, 255, 0.856);
    margin: auto
}


