<!-- home page component -->

<div class="container master img bg-master">
    <div class="opacity-master">
        <div class="row">
            <div class="board-comics p-5">
                <div class="row space-center">

                    <!-- AQui é aplicada uma tecnica de Property binding
                        onde as informação da api passão para o componente filho
                        para serem mostradas em tela
                     -->
                    <app-card-comics *ngFor="let comics of dataComics" [itemComics]="comics"></app-card-comics>
                </div>
            </div> 
        </div>
    </div>
</div>
