/* ESTE CSS FOI CRIADO BASEADO NAS CLASSES DE LAYOUT E GRID DO BOOTSTRAP */


@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');




:root {
    --primary-color: rgb(27, 27, 27);
    --secondary-color: rgb(59, 59, 59);
    --warning-color: rgb(255, 230, 0);
}

.bg-dark{
    background-color: var(--primary-color) ;
}
.bg-secondary{
    background-color: var(--secondary-color) ;
}
.bg-warning{
    background-color: var(--warning-color) ;
}

* body{
    font-family: 'Roboto Condensed', sans-serif;
    
}

