/** Css exclusivo do navcbar**/

.nav{
    max-width: 100%;
    display: block;
    color: whitesmoke;
    background: var(--primary-color);
}

.logo{
    width: 110px;
    position: relative;
    left: 15%;
    padding: 10px;
}

.checkout img{
    text-decoration: none;
    color: whitesmoke;
    text-align: center;
    margin: auto;
}

.nav-menu {
    width: 100%;
    padding: 10px;
    justify-content: center;
    text-align: center;
}

.nav-menu li{
    display: inline;
    margin: auto;
}
.nav-menu a{
    padding: 10px;
    text-decoration: none;
    color: whitesmoke;
    flex: auto;
}

//  npm install bootstrap@4.6 jquery@3.5.1 popper.js@1.16.1 --save